/*
Color palette: 
https://coolors.co/006c46-3d926c-79b791-abd1b5-d9ffd9-c0f0fb-4a9ce6-005984-007399-337f90
*/

/*** FONTS ***/

@font-face {
    font-family: 'Noto';
    src: url('assets/fonts/noto-regular.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto';
    src: url('assets/fonts/noto-bold.woff2');
    font-weight: bold;
    font-style: normal;
}

/*** TAGS (Individual) ***/

a {
    text-decoration: none;
    display: inline-block;
    color: #007399;
}

b {
    color: #79B791;
}

body {
    line-height: 1.75;
    z-index: 0;
}

body > * {
    z-index: 2;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    transition: all 0.3s;
}

button:hover {
    cursor: pointer;
    transition: all 0.3s;
}

button:active {
    transition: all 0.3s;
}

details {
    padding: 0;
    margin: 0;
}

details > *:not(summary, div) {
    padding: 0px 20px;
}

h1 {
    font-size: 40px;
    padding-top: 90px;
    margin: 22px 0px 10px 0px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 20px 20px 0 20px;
    background-image: linear-gradient(rgba(0, 89, 132, 1), rgba(0, 89, 132, 0.75), rgba(0, 89, 132, 0.5), rgba(0, 89, 132, 0));
    width: 100%;
    height: 80px;
}

header > * {
    position: fixed;
    top: 10px;
}

header img {
    height: 30px;
    opacity: 0.7;
    transition: all 0.3s;
}

header img:hover {
    opacity: 1;
    transform: scale(1.2);
    will-change: transform;
    transition: all 0.3s;
}

iframe {
    margin: 0;
}

label {
    font-weight: bold;
}

li {
    padding: 5px;
}

main {
    padding: 0 40px 32px 40px;
    margin: 0 auto;
}

main section div {
    max-width: 800px;
}

nav {
    right: 30px;
}

nav > * {
    margin-left: 30px;
    opacity: 0.7;
    transition: all 0.3s;
}

nav > *:hover {
    opacity: 1;
    transform: scale(1.05);
    will-change: transform;
    transition: all 0.3s;
}

section {
    max-width: 700px;
    margin: 0 auto;
}

section:not(.title) {
    padding: 30px 0px;
}

select {
    margin: 20px 0;
}

small {
    font-size: 13px;
}

summary {
    list-style-position: outside;
    padding: 0px 20px;
    margin: 0px 40px;
}

summary:hover {
    cursor: pointer;
}

summary::marker {
    font-size: 25px;
}

textarea {
    width: calc(100% - 30px);
    height: 200px;
    padding: 15px;
    margin: 10px 0;
    resize: vertical;
}

video, iframe {
    display: block;
    aspect-ratio: 16/9;
    width: 640px;
    max-width: 100%;
    margin: 30px auto;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    border: none;
    background: black;
    transition: all 0.3s;
}

/*** TAGS (Multiple) ***/

body, html {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    width: 100%;
    overscroll-behavior: none;
    overflow-x: hidden;
}

body, h1, h2, h3, h4, p, a, button, input, select, textarea, b, i {
    font-family: 'Noto', BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button:hover, video:hover, iframe:hover {
    box-shadow: 2px 4px 3px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    will-change: transform;
    transition: all 0.3s;
}

h1, h2, h3, button, p.center, small.center, p.btn {
    text-align: center;
}

h2, h3, h4 {
    margin: 0px;
    padding: 10px 0px;
}

h4, p, b, i, input, textarea, select, label, button, li {
    font-size: 18px;
}

header > *, nav > * {
    color: #D9FFD9;
}

input, select {
    width: 100%;
    padding: 8px;
    background-color: white;
}

input, select, textarea, video, iframe, #group-pic {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
    border: 1px solid #dddddd;
    border-radius: 12px;
    color: black;
}

label, input {
    margin: 5px 0px;
}

ul, ol {
    margin: 0;
}

/*** CLASSES (Individuals) ***/

div.btns {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.gradient {
    position: absolute;
    top: 0;
    width: inherit;
    background-image: linear-gradient(to bottom right, #4A9CE6, #006C46, #007399, #007399);
    z-index: -1;
}

section.title {
    color: #D9FFD9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*** CLASSES (Multiple) ***/

body.home div.gradient, body.home section.title {
    height: 100vh;
}

body.about div.gradient, body.about section.title {
    height: 50vh;
}

body.model div.gradient, body.model section.title {
    height: 50vh;
}

button.dark, button.light:active {
    color: white;
}

button.dark.blue {
    background-color: #4A9CE6;
}

button.dark.green {
    background-color: #3D926C;
}

button.light.blue {
    background-color: #C0F0FB;
}

button.light.green {
    background-color: #D9FFD9;
}

button.light, button.dark:active {
    color: black;
}

/*** IDS ***/

#group-pic {
    display: block;
    width: 100%;
    margin: 20px auto;
}

#nav-logo {
    top: 20px;
    left: 20px;
}

#nav-logo img {
    height: 50px;
}