/*** TAGS (Individual) ***/

a {
    text-decoration: none;
    display: inline-block;
    color: #007399;
}

body {
    line-height: 1.75;
    z-index: 0;
}

body > * {
    z-index: 2;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: #79B791;
    border: none;
    color: black;
    transition: all 0.3s;
}

button:hover {
    background-color: #3D926C;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

button:active {
    background-color: #ABD1B5;
    transition: all 0.3s;
}

details {
    padding: 0;
    margin: 0;
}

details > *:not(summary, div) {
    padding: 0px 20px;
}

h1 {
    font-size: 40px;
    padding-top: 90px;
    margin: 22px 0px 10px 0px;
}

h2 {
    font-size: 30px;
    margin: 0px;
    padding: 10px 0px;
}

h3 {
    font-size: 20px;
    margin: 0px;
    padding: 10px 0px;
}

h4 {
    margin: 0px;
    padding: 10px 0px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 16px 16px 0 16px;
    background-image: linear-gradient(white, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    width: 100%;
    height: 80px;
}

header > * {
    position: fixed;
    top: 20px;
}

header img {
    height: 30px;
    opacity: 0.7;
    transition: all 0.3s;
}

header img:hover {
    opacity: 1;
    transform: scale(1.2);
    will-change: transform;
    transition: all 0.3s;
}

iframe {
    margin: 0;
}

label {
    font-weight: bold;
}

li {
    padding: 5px;
}

main {
    padding: 0 40px 32px 40px;
    margin: 0 auto;
}

main section div {
    max-width: 800px;
}

nav {
    right: 20px;
}

nav > * {
    margin-left: 12px;
}

section {
    max-width: 700px;
    margin: 0 auto;
}

select {
    margin: 10px 0;
}

small {
    font-size: 13px;
}

summary {
    list-style-position: outside;
    padding: 0px 20px;
    margin: 0px 40px;
}

summary:hover {
    cursor: pointer;
}

summary::marker {
    font-size: 25px;
}

textarea {
    width: calc(100% - 30px);
    height: 200px;
    padding: 15px;
    margin: 10px 0;
    resize: vertical;
}

video {
    display: block;
    width: 100%;
    height: 315px;
    margin: 30px auto;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    border: none;
    background: black;
    transition: all 0.3s;
}

/*** TAGS (Multiple) ***/

body, html {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    width: 100%;
    overscroll-behavior: none;
    overflow-x: hidden;
}

body, h1, h2, h3, h4, p, a, button, input, select, textarea, b, i {
    font-family: Helvetica, Calibri, Arial, sans-serif;
}

button:hover, video:hover {
    box-shadow: 2px 4px 3px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    will-change: transform;
    transition: all 0.3s;
}

h1, h2, h3, button, p.center, small.center, p.btn {
    text-align: center;
}

h4, p, b, i, input, textarea, select, label, button {
    font-size: 16px;
}

input, select {
    width: 100%;
    padding: 8px;
    background-color: white;
}

input, select, textarea, video, #group-pic {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
    border: 1px solid #dddddd;
    border-radius: 12px;
    color: black;
}

label, input {
    margin: 5px 0px;
}

ul, ol {
    margin: 0;
}

/*** CLASSES ***/

div.btns {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*** IDS ***/

#group-pic {
    display: block;
    width: 400px;
    max-width: calc(100% - 50px);
    margin: 20px auto;
}

#nav-logo {
    left: 20px;
}

#nav-logo img {
    height: 40px;
}